<header class="fondo">
    <div class="contenedor">

        <ul class="menu">
            <div class="li">
                <a href="https://www.google.com">
                    <li> <span class="verde"> Descubre nuestros destinos </span>|</li>
                </a>
                <a href="https://www.google.com">
                    <li>CHILE |</li>
                </a>
                |
                <a href="https://www.google.com">
                    <li>Corporate</li>
                </a>

                <a href="https://www.google.com">
                    <li>Centro de ayuda |</li>
                </a>
                <a href="https://www.google.com">
                    <li>Inscribete </li>
                </a>
            </div>
            <div class="boton">
                <button class="botonRojo">Iniciar Sesion</button>
            </div>
        </ul>

    </div>

</header>


<main class="fondo-completo">

    <div class="menuPrincipal">
        <div class="fondo-menu">
            <div class="menu-nav">

                <div class="imagen-menu">
                    <div class="logo-img"><img src="assets/img/logo.PNG" alt=""></div>
                </div>

                <div class="navegacion">

                    <li><a href="">Vuelos y <br>Destinos </a></li>
                    <li> <a href=""> Hoteles, autos y <br>paquetes</a></li>
                    <li> <a href="">Administra <br>tu viaje</a></li>
                    <li> <a href="">Informacion para <br> tu viaje</a></li>
                    <li> <a href="">LATAN <br>Pass</a></li>

                </div>
            </div>
        </div>
    </div>
</main>