<app-nav>
</app-nav>

<section class="principal">
    <div class="fondo-img-principal"></div>
    <div class="titulo">
        <h1 class="titulo1">Viaja por chile y recorre <br>increibles destinos nacionales</h1>

        <button class="btn"> Ver destinos</button>
    </div>
</section>



<section class="formulario">

    <div class="container">
        <div class="titulo2">
            <h3>Reserva tu vuelo</h3>

        </div>


        <form class="formulario-btn" (ngSubmit)="verificar(for)" #for="ngForm">
            <div class="parrafo1">
                <div id="mensaje"></div>
                <p class="parrafo"> Usa tus Millas LATAM Pass </p>
            </div>
            <div class="form-flex">
                <div class="inputs">
                    <input class="seudo" type="text" [(ngModel)]="usuarios.ciudad" required minlength="2" id="ciudad" name="ciudad" placeholder="Ciudad o aereopuerto">

                    <div class="radios">
                        <input type="radio"> Ida y vuelta
                        <input class="radio" type="radio"> Solo ida
                    </div>

                    <input class="seudo fecha" type="fecha" [(ngModel)]="usuarios.fecha" required minlength="2" name="fecha" id="fecha" placeholder="05/11/2019">

                    <input class="seudo" type="text" [(ngModel)]="usuarios.personas" id="niño" required name="personas" placeholder="1 Adulto, 0 Niños, 0 Bebes">

                    <input class="seudo" type="text" [(ngModel)]="usuarios.codigo" required minlength="2" id="codigo" name="codigo" placeholder="CODIGO PROMOCIONAL">

                </div>

                <div class="derecha">
                    <input class="seudo" type="text" [(ngModel)]="usuarios.aereopuerto" required minlength="5" name="aereopuerto" id="aereopuerto" placeholder="Ciudad o Aereopuerto">
                    <br>
                    <br>
                    <br>

                    <input class="seudo segunda" [(ngModel)]="usuarios.email" type="email" name="email" id="fecha2" placeholder="Email">

                    <input class="seudo" [(ngModel)]="usuarios.nombre" type="text" id="economy" required minlength="4" name="nombre" placeholder="Nombre">

                    <input class="seudo" type="text" [(ngModel)]="usuarios.edad" id="edad" name="edad" required maxlength="2" placeholder="Edad">

                </div>



            </div>
            <input type="submit" id="boton" class="btn-red" value="Busca tu vuelo">

        </form>


    </div>
</section>

<section>
    <div class="borde">

        <div class="borde-azul">
            <div class="form-flex azul">
                <div class="asiento">
                    <img class="silla" src="img/icon.svg" alt="">

                </div>
                <div class="tema3">
                    <p class="border-texto">
                        Elige tu asiento LATAM+ ¡Aprovecha y compra tu asiento LATAM+ en latam.com! Viaja cómodo y con más espacio.</p>
                </div>
                <div class="boton">
                    <input type="button" class="btn-azul" value="Ver aqui">

                </div>

            </div>

            <h2 class="compra">¡LATAM Travel te ofrece paquetes increíbles para que disfrutes tus próximas vacaciones! Compra en línea productos LATAM Travel y acumula más Millas LATAM Pass</h2>
        </div>
    </div>
</section>

<section>

</section>
<div class="contenedor-abajo">
    <div class="form-flex">
        <div class="redondo uno">
            <div class="icono">
                <img src="../../../../assets/img/Captura.PNG" alt="">
            </div>
            <div class="tema5">
                <p>Paquete LATAM <br>Travel </p>

            </div>
        </div>
        <div class="redondo dos">
            <div class="icono">
                <img src="../../../../assets/img/Captura2.PNG" alt="">

            </div>
            <div class="tema5">
                <p>Paquetes Verano <br>2020 </p>

            </div>
        </div>
        <div class="redondo tres">
            <div class="icono">
                <img src="../../../../assets/img/Captura3.PNG" alt="">

            </div>
            <div class="tema5">
                <p>Paquete Baja <br> Temporada </p>

            </div>
        </div>
        <div class="redondo cuatro">
            <div class="icono">
                <img src="../../../../assets/img/Captura4.PNG" alt="">

            </div>
            <div class="tema5">
                <p>Paquete a <br> Brasil </p>

            </div>
        </div>
        <div class="redondo cinco">
            <div class="icono">
                <img src="../../../../assets/img/Captura5.PNG" alt="">

            </div>
            <div class="tema5">
                <p>Paquete ALL <br>Inclusive </p>

            </div>
        </div>
    </div>
</div>

<app-contact></app-contact>